<nav class="navbar navbar-expand-lg bg-danger navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand pb-2" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if(typeof user!='undefined'){%>

              <span class="pt-5"><img src="<%= user.image%>" width="20px" class="rounded-circle" alt="User Image"></span>

              <%}else{%>
                User
                <%}%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if(typeof user!='undefined'){%>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <%}else{%>
                <li><a class="dropdown-item" href="/auth">Login</a></li>

                <%}%>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <div class="d-flex nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </a>
        <% //if(typeof user!='undefined'){%>
                <ul class="dropdown-menu overflow">

                  <div class="card d-block" width="300px">
                    <div class="card-header">

                    </div>
                    <div class="card-title">
                      <img src="<%= //user.image%>" class="rounded-circle" width="150px" alt=''>
                    </div>
                    <div class="card-body"></div>
                    <div class="card-footer">
                      <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                  </div>
                </ul>
                <%//}%>
    </div> -->

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>