<nav class="sb-topnav navbar navbar-expand <%- typeof user!='undefined'&&typeof user.settings!='undefined'? user.settings.navbarcolor: 'navbar-dark'%> <%- typeof user!='undefined'&& typeof user.settings!='undefined'? user.settings.navbarbgcolor: 'bg-dark'%>">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
    </div>
  </form> -->
  <!-- Navbar-->

  <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
    <% if( typeof user!='undefined'){%>
      <div class="nav-item dropdown" id="notifyBanner">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-bell"></i></a>
        <ul class="dropdown-menu dropdown-menu-end">
          <!-- <div class="form-control" width="600px "> -->
          <li class="menu-heading mx-2 ">3 New Notifications</li>
          <li><a href="#" class="dropdown-item"><i class="fa fa-users text-primary" aria-hidden="true "></i> Calvin has sent you a friends request</a></li>

          <!-- </div> -->
        </ul>
      </div>
      <%}%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if(typeof user!='undefined'){%>
              <img src="<%=user.image %>" alt="user image" width="20px" class="rounded-circle">
              <%}else{%>
                <i class="fas fa-user fa-fw"></i>
                <%}%>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if(typeof user!="undefined") { %>
              <li><a class="dropdown-item" href="/settings">Settings</a></li>
              <li><a class="dropdown-item" href="#!">Activity Log</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <% } else { %>
                <li><a class="dropdown-item" href="/auth">Login</a></li>

                <% } %>
          </ul>
        </li>
  </ul>
</nav>